.main-container {
  display: flex;
  justify-content: space-between;
}

.placeholder {
  width: 632px;
  height: 460px;
  display: flex;
  border: solid 1px var(--background-over);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: var(--text);
}
