:root {
  --blue-button: #7289da;
  --white-text: #ffffff;
  --grey-button: #5b5b5b;
  --invert-text: #443b3a;
  --color-cream: #fffda0;
  --family-main: "Roboto", sans-serif;
  --background-over: #36393e;
  --color-clients: #2a2c30;
  --background: #1e2124;
  --color-red: #ff0000;
  --bright-red: #ff2400;
  --text: #f3f3f3;
}

body {
  background-color: var(--background);
  font-family: var(--family-main);
  color: var(--text);
  margin: 0;
  padding: 0;
}

.sb-main-padded {
  background-color: #f5f5f5;
}
