.container {
  background: var(--background-over);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin: auto;
  bottom: 0;
  height: 400px;
  padding: 8px 16px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-around;
  left: 0;
  right: 0;
}

.input-container {
  padding-bottom: 8px;
}
