.actions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 8px;
}

.call-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 334px;
}

.end-call {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
